@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: black;
    opacity: 60%;
    grid-area: nav;
}

.paginaDeInicio {
    background-image: url(../img/bandaensayoinstr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    filter: grayscale(5%);
}

.navbar-nav .nav-link {
    color: #DBDBDB;
}

.logoinicio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 450px;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.logoinicio:hover {
    transform: scale(1.1, 1.1);
    transition: all 1s;
}

.centroLogo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.descrip {
    text-align: center;
    margin-top: 65px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    opacity: 50%;
    color: beige;
}

.carrousel {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.tituloFotos {
    background: linear-gradient(to right, #200122, #6f0000);
    color: #DBDBDB;
    opacity: 30%;
    padding-left: 5%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.seccionFotos {
    background: black;
}

#carouselExampleFade {
    grid-area: fotos;
    margin-bottom: 40px;
}

.intromusic {
    text-align: left;
    font-size: medium;
    color: blanchedalmond;
}

.padremusica {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: darkgray;
    background-image: url(../img/humonegrod.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    filter: grayscale(80%);
}

.padremusica h1 {
    width: 100%;
    max-width: 600px;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    color: darkgray;
}

.padremusica p {
    width: 100%;
    max-width: 600px;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    color: darkgray;
}

.padremusica article {
    width: 100%;
    max-width: 600px;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    color: darkgray;
}

.videos {
    padding: 5%;
    display: inline-block;
}

.paginavideos {
    background-image: url(../img/humonegrod.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;
    color: darkgrey;
}

.paginacontacto {
    background-image: url(../img/bandaensayoinstr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    filter: grayscale(5%);
}

form input {
    display: block;
    margin-bottom: 10px;
    background-color: darkgrey;
}

form textarea {
    display: block;
    margin-bottom: 10px;
    background-color: darkgrey;
}

.contacto {
    grid-area: contacto;
    font-family: "Roboto", sans-serif;
    color: darkgrey;
    margin-left: 100px;
    margin-top: 50px;
}

.redes {
    grid-area: redes;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: darkgrey;
    margin-top: 50px;
    font-weight: bolder;
}

.link {
    text-decoration: none;
    list-style: none;
    color: darkred;
    font-weight: bolder;
    background-color: black;
    display: inline-block;
}

.logocontacto {
    grid-area: logo;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 70px 180px auto 0;
    object-fit: contain;
}

.contactopadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-areas: "contacto contacto redes" "contacto contacto redes" "contacto contacto redes";
}

/*MIXIN*/
.piedepagInicio {
    color: gray;
    grid-area: pie;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 60px;
}

.enlacepie {
    text-decoration: none;
    color: grey;
}

@media (min-width: 600px) {
    .logoinicio {
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .piedepagInicio {
        font-size: 14px;
        position: static;
        font-size: 12px;
        padding: 5px;
    }

    .paginacontacto {
        background-size: cover;
        background-color: black;
    }
}

@media (max-width: 600px) {
    .padremusica h1 {
        margin: 10px 0;
    }

    .padremusica p {
        margin: 10px 0;
    }

    .padremusica article {
        margin: 10px 0;
    }

    .contactopadre {
        display: grid;
        grid-template-areas: "contacto" "contacto" "redes";
    }

    .redes {
        margin-left: 80px;
        margin-bottom: 30px;
        justify-content: center;
    }

    .logocontacto {
        grid-area: logo;
        max-width: 50%;
        height: auto;
        display: block;
        margin: 70px 180px auto 0;
        object-fit: contain;
    }
}

@media only screen and (max-width: 600px) {
    .padreVideo {
        padding: 10px;
    }

    .videostitulo {
        font-size: 1.5em;
        font-weight: bolder;
        background: linear-gradient(to right, #200122, #6f0000);
        text-transform: uppercase;
        color: #DBDBDB;
        opacity: 30%;
        padding-left: 5%;
        font-family: "Roboto", sans-serif;
        font-weight: bolder;
    }

    .videosdescrip {
        font-size: 1em;
    }

    .videos li {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    .padreVideo {
        padding: 50px;
    }

    .videostitulo {
        font-size: 3em;
    }

    .videosdescrip {
        font-size: 1.5em;
    }

    .videos li {
        width: 50%;
        float: left;
        display: flex;
        justify-content: space-between;
    }

    iframe {
        width: 100%;
        height: 315px;
    }
}

/*# sourceMappingURL=styles.css.map */