.paginaFotos {
    background-color: $fondocolor1;
}

.tituloFotos {
    font-family: $fuente1;
    color: $color1;
    padding-left: 5%;
}

.carrousel {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

#carouselExampleFade {
    grid-area: fotos;
    margin-bottom: 40px;
}