#seccionLogo {
    background-image: url(../img/bandaensayoinstr.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(5%);
}

.centroLogo {
    img {
        width: 600px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    &:hover {
        transform: scale(1.1, 1.1);
        transition: all 1s;
    }
}

#seccionDescripcion {
    background: linear-gradient(to top, black, #1e130c);
    height: auto;
    padding: 50px;
}

.descripcion {
    max-width: 800px;
    margin: 0 auto;
    color: $color1;
    text-align: center;
    font-size: 1.2rem;
    font-family: $fuente2;
    padding-bottom: 50px;
}