@media screen and (max-width: 768px) {
    #seccionLogo {
        height: 50vh;
    }

    .centroLogo {
        img {
            width: 200px;
        }
    }

    #seccionDescripcion {
        padding: 20px 0;
    }

    .descripcion {
        font-size: 1rem;
    }

    footer {
        height: 30px;

        p {
            font-size: 0.6rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .padreVideo {
        padding: 10px;
    }

    .videosTitulo {
        font-size: 1.5em;
        font-weight: bolder;
        background: linear-gradient(to right, #200122, #6f0000);
        text-transform: uppercase;
        color: $color7;
        opacity: 30%;
        padding-left: 5%;
        font-family: $fuente1;
        font-weight: bolder;
    }

    .videosDescrip {
        font-size: 1em;
    }

    .videos {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

        li {
            width: 45%;
        }
    }

    iframe {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .paginacontacto {
        background-size: cover;
        background-color: $fondocolor1;
    }
}

@media (max-width: 600px) {
    .padremusica {
        h1 {
            margin: 10px 0;
        }

        p {
            margin: 10px 0;
        }

        article {
            margin: 10px 0;
        }
    }

    .contactopadre {
        display: grid;
        grid-template-areas: "contacto" "contacto" "redes";
    }

    .redes {
        margin-left: 80px;
        margin-bottom: 30px;
        justify-content: center;
    }

    .logocontacto {
        grid-area: logo;
        max-width: 50%;
        height: auto;
        display: block;
        margin: 70px 180px auto 0;
        object-fit: contain;
    }
}