$fuente1: 'Bebas Neue', cursive;
$fuente2: 'Phudu', cursive;
$color1: grey;
$color2: beige;
$color3: darkgrey;
$color4: black;
$color5: red;
$color6: darkred;
$color7: #DBDBDB;
$fondocolor1: black;
$fondocolor2: darkgrey;