$color1: #DBDBDB;
$color2: beige;
$color3: gray;
$color4: grey;
$color5: blanchedalmond;
$color6: darkgray;
$color7: darkgrey;
$color8: darkred;
$font-family: 'Roboto', sans-serif;
$background-color1: black;
$background-color2: darkgrey;