.videos {
	padding: 5%;
	display: inline-block;
}
.paginavideos {
	background-image: url(../img/humonegrod.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
	font-family: $font-family;
	color: $color7;
}