.paginaVideos {
    background-image: url(../img/humonegrod.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    font-family: $fuente1;
    color: $color3;
}

.videos {
    padding: 5%;
    display: inline-block;
}

.padreVideo {
    padding-left: 20px;
}